<launch>

<!-- Default folder with maps-->


<!-- Distance Measurement Node -->
<node pkg="vtr_lite" type="odom_monitor" name="odom_monitor_node">
</node>

<node pkg="vtr_lite" type="mapper" name="mapper_server"  output="screen">
</node>

<node pkg="vtr_lite" type="navigator" name="navigator_server"  output="screen">
</node>

</launch>